@import "tailwindcss";

html, body {
    margin: 0;
    padding: 0;
    outline: none;

}

@media screen and (max-width: 768px) {
    input,
    textarea,
    select,
    button {
        font-size: 16px;
    }
}
